/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bfe2ff; /* 浅蓝色背景 */
    color: #333333; /* 深灰色字体 */
}

header {
    background-color: #4679bd; /* 深蓝色背景 */
    padding: 20px; /* 修改内边距为 20px */
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: #ffffff; /* 白色字体 */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff; /* 白色字体 */
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

p, h2 {
    color: #333333; /* 深灰色字体 */
}

footer {
    background-color: #4679bd; /* 深蓝色背景 */
    color: #ffffff; /* 白色字体 */
    padding: 20px; /* 修改内边距为 20px */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 移动设备媒体查询 */
@media only screen and (max-width: 600px) {
    footer {
        position: relative; /* 将页尾版权信息改为相对定位 */
        bottom: auto;
    }
}
